<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule</title>
    <link rel="stylesheet" href="/styles/scheduleStyle.css" />
  </head>
  <body>
    <header>
      <div class="header-tools">
        <div class="header-buttons">
          <a href="/" class="btn btn--back">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </a>
          <% if (group === "admin") {%>
          <a href="/admin/games/add" class="btn btn--add-game">
            <ion-icon name="add-outline"></ion-icon>
          </a>
          <%} %>
          <button class="btn btn--game-filter">
            <ion-icon name="funnel-outline"></ion-icon>
          </button>
        </div>
        <form action="/<%= group %>/games/" class="form-game-finder">
          <input
            type="text"
            name="teamName"
            placeholder="Enter team name"
            class="game-finder"
            required
          />
          <button class="btn btn--search" type="submit">Search</button>
        </form>
      </div>
    </header>
    <main>
      <form action="/<%= group %>/games/" class="form-game-filter hidden">
        <div class="filter-options">
          <fieldset class="filter-by-date">
            <legend class="filter-heading">Sort date:</legend>
            <div class="filter-option-group">
              <div class="filter-option-wrapper">
                <input
                  type="radio"
                  id="date-asc"
                  name="dateSort"
                  class="filter-option"
                  value="asc"
                />
                <label for="date-asc" class="label-filter-option"
                  >Ascending</label
                >
              </div>
              <div class="filter-option-wrapper">
                <input
                  type="radio"
                  id="date-desc"
                  name="dateSort"
                  class="filter-option"
                  value="desc"
                  checked
                />
                <label for="date-desc" class="label-filter-option"
                  >Descending</label
                >
              </div>
            </div>
          </fieldset>
          <fieldset class="filter-by-status">
            <legend class="filter-heading">Game status:</legend>
            <div class="filter-option-group">
              <div class="filter-option-wrapper">
                <input
                  type="radio"
                  id="all-games"
                  name="gameStatus"
                  class="filter-option"
                  value="all"
                  checked
                />
                <label for="all-games" class="label-filter-option">All</label>
              </div>
              <div class="filter-option-wrapper">
                <input
                  type="radio"
                  id="upcoming-games"
                  name="gameStatus"
                  class="filter-option"
                  value="upcoming"
                />
                <label for="upcoming-games" class="label-filter-option"
                  >Upcoming</label
                >
              </div>
              <div class="filter-option-wrapper">
                <input
                  type="radio"
                  id="completed-games"
                  name="gameStatus"
                  class="filter-option"
                  value="completed"
                />
                <label for="completed-games" class="label-filter-option"
                  >Completed</label
                >
              </div>
            </div>
          </fieldset>
        </div>
        <button class="btn btn--filter" type="submit">Apply</button>
      </form>
      <%- include('schedule'); -%>
    </main>
    <footer>
      <p>
        All information about games is the responsibility of the administrator.
      </p>
    </footer>
    <script>
      window.group = <%- JSON.stringify(group) %>;
    </script>
    <script src="/scripts/editSchedule.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
