<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule</title>
    <link rel="stylesheet" href="/styles/scheduleStyle.css" />
  </head>
  <body>
    <header>
      <div class="header-tools">
        <a href="/" class="btn btn--back"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></a>
        <% if (group === "admin") {%>
        <a href="/admin/addGame" class="btn btn--add-game">
          <ion-icon name="add-outline"></ion-icon>
        </a>
        <%} %>
        <button class="btn btn--game-filter">
          <ion-icon name="funnel-outline"></ion-icon>
        </button>

        <form action="/<%= group %>/viewSchedule/" class="form-game-finder">
          <input
            type="text"
            name="teamName"
            placeholder="Enter team name"
            class="game-finder"
            required
          />
          <button class="btn btn--search" type="submit">Search</button>
        </form>
      </div>
    </header>
    <main>
      <form
        action="/<%= group %>/viewSchedule/"
        class="form-game-filter hidden"
      >
        <fieldset class="filter-by-date">
          <p class="filter-heading">Sort date:</p>
          <div>
            <input
              type="radio"
              id="date-desc"
              name="dateSort"
              class="filter-option"
              value="desc"
              checked
            />
            <label for="date-desc" class="label-filter-option"
              >Descending</label
            >
          </div>
          <div>
            <input
              type="radio"
              id="date-asc"
              name="dateSort"
              class="filter-option"
              value="asc"
            />
            <label for="date-asc" class="label-filter-option">Ascending</label>
          </div>
        </fieldset>
        <fieldset class="filter-by-status">
          <p class="filter-heading">Game status:</p>
          <div>
            <input
              type="radio"
              id="all-games"
              name="gameStatus"
              class="filter-option"
              value="all"
              checked
            />
            <label for="all-games" class="label-filter-option">All</label>
          </div>
          <div>
            <input
              type="radio"
              id="upcoming-games"
              name="gameStatus"
              class="filter-option"
              value="upcoming"
            />
            <label for="upcoming-games" class="label-filter-option"
              >Upcoming</label
            >
          </div>
          <div>
            <input
              type="radio"
              id="completed-games"
              name="gameStatus"
              class="filter-option"
              value="completed"
            />
            <label for="completed-games" class="label-filter-option"
              >Completed</label
            >
          </div>
        </fieldset>
        <button class="btn btn--filter" type="submit">Apply</button>
      </form>
      <%- include('schedule'); -%>
    </main>
    <footer>
      <p>
        All information about games is the responsibility of the administrator.
      </p>
    </footer>
    <script>
      window.group = <%- JSON.stringify(group) %>;
    </script>
    <script src="/scripts/editSchedule.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
