<ul class="schedule">
  <% schedule.forEach((game) => { %>
  <li class="game">
    <h3 class="game-teams"><%= game.team1Name %> VS <%= game.team2Name %></h3>
    <p class="game-date"><%= game.date %></p>
  </li>
  <% }) %>
</ul>
