<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule</title>
    <link rel="stylesheet" href="/styles/scheduleStyle.css" />
  </head>
  <body>
    <ul class="games">
      <% schedule.forEach((game) => { %>
      <li class="game">
        <h3 class="game-teams">
          <%= game.team1Name %> VS <%= game.team2Name %>
        </h3>
        <p class="game-date"><%= game.date %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
